################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlightNav_API/bin/Debug/netcoreapp2.2
